.app__logo {
  width: 100px;
}

.app__navbar {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.app__navbar__logo {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app__navbar__list {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.logout {
  cursor: pointer;
}

.username {
  padding: 10px;
  text-transform: uppercase;
  color: #db0000;
  border: 1px solid #db0000;
  border-radius: 5px;
  cursor: pointer;
}

.app__navbar__list-item {
  font-size: large;
}

.app__navbar__list-item:hover {
  text-decoration: underline;
  color: rgba(255, 0, 0, 0.508);
  transition: 0.5s;
}

.mode-icon {
  cursor: pointer;
}

.mode__wrap {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: whitesmoke;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
}

.mode__wrap-night {
  color: goldenrod;
  transition: 1s;
}

.mode__wrap-light {
  color: #333333;
  transition: 1s;
}
