.card {
  margin: 10px 10px 50px 10px;
}

.cardContainer {
  width: 200px;
  overflow: hidden;
  border-radius: 15px;
  padding: 0px 0px 150% 0px;
  position: relative;
}

.cardImg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 1s ease;
  color: #ccc;
}

.cardContainer:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
}
/*
.cardBtn {
  margin: 0;
  width: 200px;
  border-radius: 0px 0px 15px 15px;
}*/
