.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.2rem 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#21aed1),
    to(#dedede)
  );
  background: linear-gradient(180deg, #21aed1 0%, #dedede 100%);
}

.headerNav {
  align-items: center;
}

nav a {
  color: black;
  margin: 15px;
}

.modeIcon {
  cursor: pointer;
}

.modeWrap {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: whitesmoke;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
}

.modeWrapDark {
  color: black;
  transition: 1s;
}

.modeWrapLight {
  color: #333333;
  transition: 1s;
}
