.home {
  background-image: url(../../../img/main-background.png);
  background-size: 100vw;
  min-height: 95vh;
  /*display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;*/
}

.homeHeader {
  width: 600px;
  margin-top: 100px;
  color: whitesmoke;
  text-align: center;
  border-bottom: 5px solid whitesmoke;
  border-top: 5px solid whitesmoke;
}

.homeText {
  color: black;
  text-align: center;
  text-transform: uppercase;
}
